<!DOCTYPE html>
<html lang="en">
<head>
    <!--    Load Required CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <!-- import Element UI CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <!--    Load axios library and vue framework-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <!-- import Element UI JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!--    CodeMirror Import-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/mode/python/python.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/codemirror.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/theme/panda-syntax.min.css"/>
</head>

<body>
<div id="app">

    <el-container>
        <el-header style="text-align: left; font-size: 25px">
            <span>Annotation & Demonstration Page</span>
        </el-header>
        <el-container>
            <el-aside width="400px" style="background-color: rgb(238, 241, 246)">
                <el-row margin-top="20px">
                    <el-col><span>Error Type Selection</span></el-col>
                </el-row>
                <el-row>
                    <el-select v-model="err_type" placeholder="Random" @change="getCodeSnippet">
                        <el-option
                                v-for="item in options"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </el-row>
                <el-menu :default-openeds="['1']">
                    <el-submenu index="1">
                        <template slot="title"><i class="el-icon-setting"></i>Solutions</template>
                        <el-menu-item-group>
                            <el-menu-item v-for="(suggestion,index) in matching_response" :key="suggestion.question_id"
                                          @click="loadSuggestion(index)">
                                <span
                                        v-text="suggestion.question_title"></span>
                            </el-menu-item>
                        </el-menu-item-group>
                        <!--                        <el-menu-item-group title="Group 2">-->
                        <!--                            <el-menu-item index="3-3">Option 3</el-menu-item>-->
                        <!--                        </el-menu-item-group>-->
                        <!--                        <el-submenu index="3-4">-->
                        <!--                            <template slot="title">Option 4</template>-->
                        <!--                            <el-menu-item index="3-4-1">Option 4-1</el-menu-item>-->
                        <!--                        </el-submenu>-->
                    </el-submenu>
                </el-menu>
            </el-aside>
            <el-main>

                <el-row :gutter="20">
                    <el-col :span="12">

                        <el-row :gutter="20">
                            <el-col>
                                Student Code here
                            </el-col>
                        </el-row>

                        <el-row :gutter="20">
                            <el-col>
                                <el-card>
                                    <div id="code"></div>
                                </el-card>
                            </el-col>
                        </el-row>

                        <el-row :gutter="20">
                            <el-col>
                                Compiler Output
                            </el-col>
                        </el-row>

                        <el-row>
                            <el-col>
                                <el-card>
                                    <p>
                                        <span v-html="compilerOutput"></span>
                                    </p>
                                </el-card>
                            </el-col>
                        </el-row>
                    </el-col>


                    <el-col :span="12">
                        <el-row :gutter="20">
                            <el-col><span>Suggested Solution</span></el-col>
                        </el-row>
                        <el-row :gutter="20">
                            <el-col>
                                <el-card class="box-card">
                                    <div slot="header" class="clearfix">
                                        <span v-text="post_title"></span>
                                    </div>
                                    <div><span v-html="question_body"></span> </div>
                                    <el-divider>Answer</el-divider>
                                    <div>
                                        <span v-html="post_body"></span>
                                    </div>
                                </el-card>
                            </el-col>
                        </el-row>
                        <el-row type="flex" class="row-bg" justify="center">
                            <el-radio v-model="rateRadio" label="negative" border>Negative</el-radio>
                            <el-radio v-model="rateRadio" label="neutral" border>Neutral</el-radio>
                            <el-radio v-model="rateRadio" label="positive" border>Positive</el-radio>

                        </el-row>

                        <el-row type="flex" class="row-bg" justify="end">
                            <el-button type="primary" @click="getCodeSnippet" plain>Next Without Save</el-button>
                            <el-button type="success" plain>Save & Next</el-button>
                        </el-row>
                    </el-col>

                </el-row>
            </el-main>
        </el-container>
    </el-container>
</div>
</body>
<style>
    .el-row {
        margin-bottom: 20px;

    &
    :last-child {
        margin-bottom: 0;
    }

    }
    .el-header {
        background-color: #26538a;
        color: #eaeaea;
        line-height: 60px;
    }

    .el-aside {
        color: #333;
    }

    .box-card {
    height: 600px;
        overflow: auto;
  }
</style>
<script>
    CodeMirror.commands.autocomplete = function (cm) {
        CodeMirror.showHint(cm, CodeMirror.hint.html);
    }
</script>
<script>
    Vue.config.devtools = true;
    var vm = new Vue({
        el: '#app',
        data: {
            options: [{
                value: 'random',
                label: 'Random'
            },
                {
                    value: 'OverflowError',
                    label: 'OverflowError'
                },
                {
                    value: 'ZeroDivisionError',
                    label: 'ZeroDivisionError'
                },
                {
                    value: 'AttributeError',
                    label: 'AttributeError'
                },
                {
                    value: 'ImportError',
                    label: 'ImportError'
                },
                {
                    value: 'ModuleNotFoundError',
                    label: 'ModuleNotFoundError'
                },
                {
                    value: 'IndexError',
                    label: 'IndexError'
                },
                {
                    value: 'KeyError',
                    label: 'KeyError'
                },
                {
                    value: 'NameError',
                    label: 'NameError'
                },
                {
                    value: 'UnboundLocalError',
                    label: 'UnboundLocalError'
                },
                {
                    value: 'FileNotFoundError',
                    label: 'FileNotFoundError'
                },
                {
                    value: 'RuntimeError',
                    label: 'RuntimeError'
                },
                {
                    value: 'RecursionError',
                    label: 'RecursionError'
                },
                {
                    value: 'SyntaxError',
                    label: 'SyntaxError'
                },
                {
                    value: 'IndentationError',
                    label: 'IndentationError'
                },
                {
                    value: 'TabError',
                    label: 'TabError'
                },
                {
                    value: 'TypeError',
                    label: 'TypeError'
                },
                {
                    value: 'ValueError',
                    label: 'ValueError'
                },],
            rateRadio: '',
            compilerOutput: '',
            content: "",
            language: "",
            query_result: "",
            question_query_time: "",
            answer_query_time: "",
            err_type: 'random',
            code_id: '',
            code_snippet: '',
            err_msg: '',
            editor: '',
            matching_response: '',
            post_title:'Suggested Post',
            post_body:'',
            question_body:'',
        },
        created: function () {
        },

        mounted: function () {
            let self = this;
            self.editor = CodeMirror(document.getElementById("code"), {
                mode: {
                    name: "python",
                    version: 3,
                    singleLineStringErrors: false
                },
                lineNumbers: true,
                indentUnit: 4,
                matchBrackets: true,
                value: ""
            });
            this.getCodeSnippet();
        },

        computed: {},

        methods: {
            loadSuggestion(index) {
                let self = this;
                self.post_title = self.matching_response[index].question_title;
                self.post_body = self.matching_response[index].answer_body;
                self.question_body = self.matching_response[index].question_body;
            },
            character_rephrase: function (input_str) {
                input_str = input_str.replaceAll(' ', '&nbsp;')
                input_str = input_str.replaceAll('\n', '<br>')
                return input_str
            },
            getCodeSnippet: function () {
                let self = this;
                axios.get('/api/load_std_code_snippet', {params: {err_type: self.err_type}})
                    .then(function (response) {
                        self.code_id = response.data.code_id;
                        self.code_snippet = response.data.code_snippet;
                        self.err_msg = response.data.err_msg;
                        self.compilerOutput = self.character_rephrase(self.err_msg);
                        self.editor.setValue(self.code_snippet);
                        self.get_copilot()
                    })
            },

            get_copilot() {
                let self = this;
                axios.get("/api/get_recommendation", {
                    params: {
                        comp_output: self.err_msg,
                        content: self.code_snippet,
                        language: 'python',
                    }
                })
                    .then(response => {
                        let response_data = response.data;
                        this.query_result = response_data.query_result;
                        this.query_result = JSON.parse(response_data.query_result);
                        this.question_query_time = response_data.question_time;
                        this.answer_query_time = response_data.answer_time;
                        // this.$notify({
                        //     title: "Search successful!",
                        //     type: "success",
                        //     message: "Got " + this.query_result.length + " hits in " + (this.answer_query_time + this.question_query_time) + "s",
                        //     duration: 5000
                        // });
                        self.matching_response = JSON.parse(response_data.matching_response);
                        console.log(self.matching_response.length);
                        self.loadSuggestion(0);
                    });
            },

            base64ToUint8Array: function (base64) {
                let raw = atob(base64);
                let uint8Array = new Uint8Array(raw.length);
                for (let i = 0; i < raw.length; i++) {
                    uint8Array[i] = raw.charCodeAt(i);
                }
                return uint8Array;
            }
        }
    })
</script>